@font-face {
    font-family: "Fantasya" ;
    src: url("Fantasya/Fantasya Font by Zeppelin Graphics/Fantasya.otf");
}
@font-face {
    font-family: "Fantasya-Bold";
    src: url("Fantasya/Fantasya Font by Zeppelin Graphics/Fantasya-Bold.otf")
}
html, body {
    margin:0px;
    background-color: rgba(22, 21, 21, 0.295);

  }
.parallax { 
    min-height: 100vh;
    min-width: 100vh;
    background: url("581432-Whale-Cloud.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
.container3 {
    min-height: 100vh;
    min-width: 100vh;
    background: url("peakpx.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 15vh;

}
.container {
    width: auto;
    max-width: 100%;
    padding: 0px 20px;
    margin: 0 auto ;
    font-family: "Fantasya";
    
}
.main-header {
    z-index: 1000;
   
    width: 100%;
    
}
.main-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 0;
    margin-top: -10px;
    padding: 10px;

}
.nav ul {
    margin: 1em 0 .5em;
    text-align: center;
}
.nav li {
    display: inline;
    
    
}
.nav a {
    display: inline-block;
    padding: .5em 1.5em;
    
}
.nav a, h2 > a{
    text-decoration-line: none; 
    color: azure;
    text-shadow:
    /* White glow */
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff;
    font-weight: 300;
    
}
 h2 > a:hover {
background-color: rgba(206, 206, 206, 0.719);
color: black;
border-radius: 25px;
padding: 5px;
}
.welcome {
    font-family: 'Fantasya-Bold';
    text-align: center;
    align-items: center;
    margin-top: 35vh;
    margin-bottom: 35vh;
    color: azure;
    text-shadow:
    /* White glow */
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff;
    font-weight: bolder;
}
.container2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    padding-bottom: 15vh;
    margin-top: 15vh;
    min-height: 100vh;
    min-width: 100vh;
    background: url("illustration-fantasy-art-sky-whale-ART-screenshot-103842-wallhere.com.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-left: 4vh;
    padding-right: 4vh;
    
    row-gap: 10vh;
}
.sub-container-1 {
    box-shadow: 20px 20px  rgba(156, 153, 153, 0.774) ;
    background-color: transparent;
    margin-top: 20vh;
    
}
.sub-container-2 {
    height: 50vh;
    justify-content: center;

    text-wrap: wrap;
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 0em 1em;
    
}


.sub-container-1, .sub-container-2, .sub-container-4{
    font-family: "Fantasya";
    color: white;
    border-radius: 15px;
    border: 1px transparent;
    box-shadow: 
    0 0 21px #ffffffad;
    width: 40%;
    text-align: center;
    text-shadow:
    /* White glow */
    0 0 7px  rgba(240, 255, 255, 0.5),
    0 0 10px rgba(240, 255, 255, 0.5),
    0 0 21px rgba(240, 255, 255, 0.5);
    font-weight: 200;
    font-size: 19.5px;
    gap: 0vh;
    text-wrap: wrap;

}
.sub-container-3 {
    font-family: "Fantasya";
    color: rgb(255, 255, 255);
    border-radius: 15px;
    border: 1px transparent;
    box-shadow: 
    0 0 21px #ffffffad;
    width: 30%;
    font-size: 19.5px;
    text-align: center;
    text-shadow:
    /* White glow */
    0 0 7px  rgba(240, 255, 255, 0.5),
    0 0 10px rgba(240, 255, 255, 0.5),
    0 0 21px rgba(240, 255, 255, 0.5);
    font-weight: 200;
    
    margin-top: 15vh;

}
@media (min-width: 960px) {
	.main-header .container {
		justify-content: space-between;
	}
    .parallax{
        background-size: cover;
    }
}

:root {
    --bg: #1a1e24;
    --color: linear-gradient(45deg, rgba(255, 255, 255, 0.5) 0%, rgba(173, 216, 230, 0.5) 100%);
    --font: 'Fantasya-Bold', Montserrat, Roboto, Helvetica, Arial, sans-serif;
}

.wrapper {
    padding: 1.5rem 0;
    filter: url('#goo');
}

.button {
    display: inline-block;
    text-align: center;
    background: var(--color);
    color: var(--bg);
    font-weight: bold;
    padding: 1.18em 1.32em 1.03em;
    line-height: 1;
    border-radius: 1em;
    position: relative;
    min-width: 8.23em;
    text-decoration: none;
    font-family: var(--font);
    font-size: 1.25rem;
}

.button:before,
.button:after {
    width: 4.4em;
    height: 2.95em;
    position: absolute;
    content: "";
    display: inline-block;
    background: var(--color);
    border-radius: 50%;
    transition: transform 0.5s ease;
    transform: scale(0);
    z-index: -1;
}

.button:before {
    top: -25%;
    left: 20%;
}

.button:after {
    bottom: -25%;
    right: 20%;
}

.button:hover:before,
.button:hover:after {
    transform: none;
}


/* Demo styles */

.container3 {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}